/* styles.css */
.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .home-content {
    display: flex;
    flex: 1;
    position: relative;
  }
  
  .sidebar {
    width: 300px; /* Fixed width for sidebar */
    position: fixed; /* Overlay beside the body */
    top: 60px; /* Assuming Header height is 60px */
    left: 0;
    bottom: 0;
    background-color: #f4f4f4; /* Sidebar background */
    padding: 16px;
    overflow-y: auto; /* Enable scrolling for long content */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .main-content {
    margin-left: 300px; /* Space for the sidebar */
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #fff; /* Main content background */
  }
  