.App {
  /* text-align: center; */
  color: #4b74c3d6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h1, h2, h3, h4, h5, h6 {
  color: #aa547c;
}

a {
  color: #4b74c3d6; /* Same as the global color */
  text-decoration: none;
}

a:hover {
  color: #3a5d9b; /* Darker blue for hover effect */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

